<li class="treeview">
  <a href="#">
    <i class="fa fa-users"></i>
    <span>Cohorts</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <% if current_user.is_site_admin %>
      <% current_user.organization.cohorts.each do |cohort|%>
       <li> <%= link_to "<i class='fa fa-circle-o'></i> #{cohort.name}".html_safe, cohort_path(cohort) %> </li>
       <% end %>
    <% else %>
      <% current_user.cohorts.each do |cohort|%>
        <li> <%= link_to "<i class='fa fa-circle-o'></i> #{cohort.name}".html_safe, cohort_path(cohort) %> </li>
      <% end %>
    <% end %>
  </ul>
</li>
