<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Your Invite Has been Sent</h1>
    <p class="lead"></p>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <h4> Your invite has been sent to <%= @sent_to_email %></h4>
  </div>
</div>
