<div class="message">
    <div class="photo" style='background-image: url("<%= message.user.gravitar_url %>");'>
    </div>
        <%= auto_html(message.body.html_safe){ image(:width => '100%'); youtube(:width => 400, :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } %>
    <br/>
</div>
