
<% if (current_user.is_site_admin || current_user.is_cohort_admin || current_user.is_city_admin)%>
  <%= link_to 'New Announcement', new_cohort_announcement_path, class: 'btn btn-primary' %>
<% end %>
<% @announcements.each do |announcement| %>
  <div style="padding:12px">
    <div class='row rounded' style='background-color: white'>
      <h4><%= announcement.title %></h4> <%= announcement.cohort.name %>
      <br>
      <%= auto_html(announcement.content.html_safe){ image(:width => '100%'); youtube(:width => 400, :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } %>
    </div>
  </div>
<% end %>





