
<%= link_to 'New Announcement', new_cohort_announcement_path, class: 'btn btn-primary' %>
<% @announcements.each do |announcement| %>
  <div class='row'>
    <%= announcement.title %>
    <br>
    <%= announcement.content %>
  </div>
<% end %>





