<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Manage <%= @cohort.name %> </h1>
    <p class="lead">Managers:  </p>
  </div>
</div>

<%= render 'form', cohort: @cohort %>

<%= link_to 'Show', @cohort %> |
<%= link_to 'Back', cohorts_path %>
