<div class='row'>
  <div class='col-md-6'>
    <% @track.users.each do |user| %>
      <%= user.email %>
    <% end %>
  </div>
  <div class='col-md-6'>
    <% @track.cohort.users.each do |user| %>
      <%= user.email %>
    <% end %>
  </div>
</div>
