<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Click To Message</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <% @current_user.current_cohort.users.each do |user| %>
              <% if user.id != current_user.id %>
               <li>
                 <%= link_to user.safe_name , conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
                </li>
            <% end %>
           <% end %>
          </ul>
        </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Inbox</h3>
            <div class="box-tools pull-right">
              <div class="has-feedback">
                <!-- <input type="text" class="form-control input-sm" placeholder="Search Mail">
                <span class="glyphicon glyphicon-search form-control-feedback"></span> -->
              </div>
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover table-striped">
                <tbody>
                <% @conversations.each do |conversation| %>
                  <tr>
                    <td class="mailbox-name">
                      <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
                        <% if conversation.sender_id == current_user.id %>
                          <% recipient = User.find(conversation.recipient_id) %>
                        <% else %>
                          <% recipient = User.find(conversation.sender_id) %>
                        <% end %>
                        <%= link_to recipient.email,   conversation_emails_path(conversation)%>
                      <% end %>
                    </td>
                    <td class="mailbox-subject">
                      <%= conversation.emails.last.body %>
                    </td>
                    <td class="mailbox-date"><%= time_ago_in_words(conversation.emails.last.created_at) %> ago</td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer no-padding">
          </div>
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div>
  </div>
</section>
