<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Add Managers</h1>
    <p class="lead">This Page Should have Bootstrap  </p>
  </div>
</div>

<div class="container">
  <div class='row'>
    <div class='col-md-6'>
      <%= render '/admin/partials/cohort_managers'%>
    </div>
    <div class='col-md-6'>
      PlaceHolder for List All Users with button 
    </div>
  </div>
</div>