<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">Room Assigments</h1>
    <p class="lead"> </p>
  </div>
</div>
<div class='container'>
  <div class='row'>
  <div class='col-md-3'>
   <div class="box">
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <table class="table table-striped">
          <tbody>
          <tr>
            <th>City</th>
          </tr>
          <% current_user.current_cohort.schedule_items.map {|si| si.location}.each do |location|%>
          <tr>
            <td>
              <%= link_to admin_housing_location_path(location) do %>
                <%= location.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class='col-md-9'>
    <% if params[:location_id] %>
      <%= render 'admin/partials/housing/unit_selection' %>
    <% elsif params[:housing_id] %>
      <%= render 'admin/partials/housing/user_assignment' %>
    <% end %>
  </div>
  </div>
</div>


