<section id="banner">
  <div class="inner">
    <div class="logo"><span class="icon fa-plane"></span></div>
    <h2>The Towel Project </h2>
    <p>Everything The Digital Nomad Needs to Survive </p>
    <p>Built By A Digital Nomad For All Digital Nomads  </p>
  </div>
</section>
