<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <p></p>
    <%= render 'contact_submissions/form' %>
    <%= render 'shared/solidstate/contact_list' %>
    <ul class="copyright">
      <li>&copy; @TheTravelingWeiner All rights reserved.</li>
    </ul>
  </div>
</section>
