<!-- One -->
<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="https://s3-us-west-2.amazonaws.com/remote-towel/site-images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Why The Towel?</h2>
      <p>A towel, [The Hitchhiker's Guide to the Galaxy] says, is about the most massively useful thing an interstellar hitchhiker can have. Partly it has great practical value. You can wrap it around you for warmth as you bound across the cold moons of Jaglan Beta; you can lie on it on the brilliant marble-sanded beaches of Santraginus V, inhaling the heady sea vapors; you can sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon; use it to sail a miniraft down the slow heavy River Moth; wet it for use in hand-to-hand-combat; wrap it round your head to ward off noxious fumes or avoid the gaze of the Ravenous Bugblatter Beast of Traal (such a mind-boggingly stupid animal, it assumes that if you can't see it, it can't see you); you can wave your towel in emergencies as a distress signal, and of course dry yourself off with it if it still seems to be clean enough.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="https://s3-us-west-2.amazonaws.com/remote-towel/site-images/pic02.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Are You Part Of A Group Remote Journey?</h2>
      <p>From Side Trip Planning, to planning who will stay in what apartments, travel plans, event planning and payments, to photo galleries, and more ... The Towel has you covered! </p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper spotlight style3">
  <div class="inner">
    <a href="#" class="image"><img src="https://s3-us-west-2.amazonaws.com/remote-towel/site-images/pic03.jpeg" alt="" /></a>
    <div class="content">
      <h2 class="major">Planning A Trip For Friends?</h2>
      <p>While the towel is built for Digital Nomads, its a great place to plan any group trip. Track who is going where, at what time, share photos, chat, and post just like a Facebook group built specifically for you. </p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper alt style1">
  <div class="inner">
    <h2 class="major">Dont Spread Your Crew over Google Calendar, Facebook Groups, Slack, EventBrite and others</h2>
    <p>The Towel Project keeps all your valuable info in one single central location, built to be simple to access, and awesome to share.</p>
    <section class="features">
      <article>
        <a href="#" class="image"><img src="https://s3-us-west-2.amazonaws.com/remote-towel/site-images/pic04.jpg" alt="" /></a>
        <h3 class="major">No More Google Calendar </h3>
        <p>From Annoucnements, to RSVPs, Payments and Travel Dates you will no longer need to scour your calendar for all the details. Keep all your important info in 1 single place</p>
        <a href="#" class="special">Learn more</a>
      </article>
      <article>
        <a href="#" class="image"><img src="https://s3-us-west-2.amazonaws.com/remote-towel/site-images/pic05.jpg" alt="" /></a>
        <h3 class="major">No More EventBrite</h3>
        <p>While EventBrite may be great for planning single Events its missing a few key features for Digital Nomads like a "Waitlist", and a photo gallery for attendees to upload their pictures.  </p>
        <a href="#" class="special">Learn more</a>
      </article>
      <article>
        <a href="#" class="image"><img src="https://s3-us-west-2.amazonaws.com/remote-towel/site-images/pic06.jpg" alt="" /></a>
        <h3 class="major">No More Facebook Groups</h3>
        <p>The Towel has a feed for every group to share posts on a common wall. All photos uploaded by memebers, event attendees, or posted to the wall are saved in your groups photo gallery to be shared by all. </p>
        <a href="#" class="special">Learn more</a>
      </article>
      <article>
        <a href="#" class="image"><img src="https://s3-us-west-2.amazonaws.com/remote-towel/site-images/pic07.jpg" alt="" /></a>
        <h3 class="major">No More Slack</h3>
        <p>Slack is great for communication, but without the right guidelines it can become unwieldly. The Towel has a live interactive chat for each group, trip, event, and more... We also set up a messaging (email) tool for you to communicate with other members privately. </p>
        <a href="#" class="special">Learn more</a>
      </article>
    </section>
    <!-- <ul class="actions">
      <li><a href="#" class="button">Browse All</a></li>
    </ul> -->
  </div>
</section>
