<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Tell Us How You Want To Live </h1>
    <p class="lead"> </p>
  </div>
</div>
<div class='container'>
<div class='row'>
  <div class='col-md-6'>
    Choose Up To 3
    <%= render 'users/partials/housing_preferences' %>
  </div>
  <div class='col-md-6'>
    Choose As Many As You Like
    <%= render 'users/partials/roomate_preferences' %>
  </div>
</div>
</div>
