<section class="content">

<div class="row">
  <div class="col-md-3">

    <!-- Profile Image -->
    <%= render 'users/partials/profile/user_details_box'%>
    <!-- /.box -->

    <!-- About Me Box -->
    <div class="box box-primary">
      <%= render 'users/partials/profile/about_me'%>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Activity</a></li>
        <!-- <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Timeline</a></li>
        <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
        -->
      </ul>
      <div class="tab-content">
        <%= render 'users/partials/profile/activity_tab'%>
        <!-- render 'users/partials/profile/activity_tab' -->
         <!-- render 'users/partials/profile/settings_tab' -->
    </div>
  </div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
