<span class="addtocalendar atc-style-blue">
  <var class="atc_event">
      <var class="atc_date_start" style='visibility: hidden;'><%=ii.date.to_time %></var>
      <var class="atc_date_end" style='visibility: hidden;'><%=ii.date.to_time %></var>
      <var class="atc_timezone" style='visibility: hidden;'>
        Pacific/Midway
      </var>
      <var class="atc_title" style='visibility: hidden;'>Star Wars Day Party</var>
      <var class="atc_description" style='visibility: hidden;'>May the force be with you</var>
      <var class="atc_location" style='visibility: hidden;'>Tatooine</var>
      <var class="atc_organizer" style='visibility: hidden;'>Luke Skywalker</var>
      <var class="atc_organizer_email" style='visibility: hidden;'>luke@starwars.com</var>
  </var>
</span>
