<div class='row'>
  <div class='col-md-6'>
    Sign Up
    <%= render 'devise/registrations/new' %>
  </div>
  <div class='col-md-6'>
    Sign In
    <%= render 'devise/sessions/new' %>
  </div>
</div>





