<%= render 'shared/nav/main_nav'%>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Home Page</h1>
    <p class="lead">This Page Should have Bootstrap  </p>
  </div>
</div>
