<div class="jumbotron">
  <div class="container text-center">
    <h1 class="display-3">My Itinerary</h1>
    <p >What Do I Have On My Agenda?</p>
    <p ><%= current_user.cohorts.first.name %></p>
    <p></p>
  </div>
</div>
<%= render '/shared/user/my_itinerary' %>
