<div class="box">
  <div class="box-header">
    <h3 class="box-title">Attendees</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Create/Cancel</th>
          <th>Paid</th>
        </tr>
        <% @event.users.each do |user| %>
        <tr>
          <td><%= user.email %></td>

            <% unless user.rsvpd_for_event(@event) %>
              <td><%= link_to "Create RSVP", create_event_rsvp_path(@event, user), class:"btn btn-success", style:"" %></td>
            <% else %>
              <td><%= link_to 'Cancel RSVP', event_event_rsvp_path(@event, user.event_rsvp(@event)), { :method => :delete,  class: 'btn btn-warning'}%></td>
              <td><%= "Unpaid" if (user.event_rsvp(@event).is_paid != true) %></td>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
