<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Add A Living Space </h1>
    <p class="lead">This Page Should have Bootstrap  </p>
  </div>
</div>

<div class='container'>
<%= render 'form', housing: @housing %>

<%= link_to 'Back', housings_path %>
</div>
