<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Tell Us About This Living Space </h1>
    <p class="lead"><%= @housing.name %>   </p>
  </div>
</div>
<div class='container'>
  <%= render 'housings/partials/tags'%>
</div>
