<div class='row'>
<% @posts.each do |post| %>
<div class="card" style='width:100%; word-wrap:break-word; background-color: white'>
  <div class="card-header">
    <%= image_tag post.user.gravitar_url, style: 'max-height:20px' %><%= link_to "#{post.user.email}", show_user_path(post.user) %>
  </div>
  <div class="card-block">
    <% if post.photos.count > 0 %>
      <p class="card-text">
        <%= image_tag post.photos.first.picture, style: 'width:100%; max-height:400px; object-fit: scale-down;' %>
      </p>
    <% end %>
    <p class="card-text" > <div class='post-container' style="word-wrap:break-word; background-color: white" ><%= auto_html(post.content.html_safe){ image(:width => '100%'); youtube(:width => 400, :height => 250, :autoplay => false); simple_format; link(:target => 'blank') } %> </div></p>
  </div>
</div>
<% end %>
</div>
