<aside class="control-sidebar control-sidebar-dark control-sidebar-open">
    <!-- Create the tabs -->
    <%= render 'admin/shared/right_side/nav_tabs' %>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <%= render 'admin/shared/right_side/home_tab' %>
      <%= render 'admin/shared/right_side/demo_options_tab' %>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <%= render 'admin/shared/right_side/sidebar_settings_tab' %>
      <!-- /.tab-pane -->
    </div>
  </aside>
